* {
  font-size: 1px;
  font-family: 'Muli', sans-serif;
}

html {
  height: 100%;
}

body{
  margin: 0;
}

        /*MOBILE SECTION*/
.tablet {
  display: none;
}

.phone-container {
  display: none;
}

.phone {
  display: none;
}


        /*HEADER SECTION*/

header {
  height: 85rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

header p {
  font-size: 16rem;
  margin-left: 30rem;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-container p {
  margin-left: 30rem;
  text-decoration: none;

}

.header-container i {
  font-size: 24rem;
  font-weight: bold;
  margin-left: 10rem;
  margin-right: 30rem;
}

a {
  text-decoration: none;
  color: black
}

/*HEADER TABLET*/
@media only screen and (min-width: 600px) and (max-width: 1024px) {

  * { 
    font-size: 1.2px;
  }

  .tablet {
    display: block;
  }

.tablet p {
  font-size: 16rem;
  background-color: chartreuse;
  padding: 4rem 10rem;
  border-radius: 4rem;
  margin-right: 12rem; 
}

.header-container i {
  margin-right: 0;
}

}

/*HEADER PHONE*/
@media only screen and (max-width:505px) {

* {
  font-size: 1.55px;
}

.desktop {
  display:none;
}

.phone-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 15px;
}

.phone {
  display: block;
  font-size: 16rem;
}


.tablet {
  display:block;
}

.tablet p {
    display: block;
    font-size: 16rem;
    background-color: chartreuse;
    padding: 4rem 10rem;
    border-radius: 4rem;
    margin: 0px;
  }


}